.sign-in{
    width : 30vw;
    background-color: #FFFFFF;
    height: 500px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  
    .heading{
       text-align:center;
       font-size: 30px;
  }
    .span1{
    margin-left: 160px;
    font-size: 25px;

   }
   .Register{
    margin-left:250px;
    font-size: 30px;

    margin-top: 0px;
}
}




      



