.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
        height: 80%;
        width: 70px;
        margin-top: 0px;
    }
  
    .item-count {
      position: absolute;
      font-size: 16px;
      font-weight: bold;
      bottom: 6px;
    }
  }
  